body{
	/*background-color:#bec3c7;*/
	background-color:#e9e9e9;
	/*background-image:url(img/tmp.jpg) !important;*/
}
.border{
	border:1px solid #ccc;
}


/* header-carousel */
#header-carousel{
	height:400px;
	margin-top:50px;
}
#header-carousel li{
	margin-left:2px;
	margin-right:2px;
}
#header_carousel_box{
	height:400px;
}
.header-carousel-box{
	width:100%;
	height:400px;
}
.header-carousel-img{
	width:100%;
	height: 400px !important;
	border-bottom:1px solid #ccc;
	border-radius:2px;
}


/* main */
.main-content{
	margin-top:100px;
	margin-bottom:100px;
	min-height:415px;
}
.main-content .box{
	margin-left: auto;
	margin-right: auto;
	min-height:250px;
	background-color:white;
	border-radius:5px;
}

#person-carousel{
	height:250px;
	margin-left:-15px;
}
#personal-intro{
	margin-top:15px !important;
}
.person-img{
	/*margin-top:1px;*/
	border-radius:3px;
	height:251px !important;
	width:385px !important;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #868686;
}
.person-carousel-desc{
	margin-top: 10px !important;
	margin-left: -30px !important;
	width: 175px;
}
.person-carousel-desc h4{
	color:#9a59b5;
	text-align: center;
}
.person-carousel-desc p{
	line-height:25px;
}


/*camera*/
#camera{
	margin-top:100px;
	height:450px;
}
.camera-theme-pic{
	/*background-image:url(img/camera/theme.jpg);
	background-size:605px 450px;*/
	width:570px;
	height:448px;
	border-radius:5px;
}
#camera h1{
	-webkit-box-reflect:below -7px -webkit-gradient(linear, 0 0, 0 100%, 
		from(transparent), color-stop(.5, transparent), to(white));
}
#camera p{
	margin-top:30px;
	line-height:38px;
}
.camera-font{
	margin-top:50px;
}



/*animation*/
#animation{
	height:450px;
	margin-top:100px;
}



/* footer */
.footer{
	background-color:#101010;
	height: 60px;
}


/** comment page **/
#disqus_thread{
	margin-top:30px;
	margin-bottom:30px;
	margin-left: 25px;
	margin-right: 25px;
	min-height:350px;
	border-radius: 5px;
}
/* back to top */
.back-to-top{
	position:fixed;
	bottom:20px;
	right:10px;
	z-index:1;
	/*background:rgba(0,0,0,0.5) !important;*/
	/*color:#463265;*/
}
.back-to-top a{
	color:#463265;
	/*background:rgba(255,255,255,0.5) !important;*/
	border-radius: 35px;
	text-decoration:none;
}
.back-to-top .back-icon{
	font-size:50px;
}
.back-to-top :hover{
	color:#8d44ad;
}