body{
	/*background-color:#bec3c7;*/
	background-color:#e9e9e9;
	/*background-image:url(img/tmp.jpg) !important;*/
}
.border{
	border:1px solid #ccc;
}


/* header-carousel */
#header-carousel{
	height:400px;
	margin-top:50px;
}
#header-carousel li{
	margin-left:2px;
	margin-right:2px;
}
#header_carousel_box{
	height:400px;
}
.header-carousel-box{
	width:100%;
	height:400px;
}
.header-carousel-img{
	width:100%;
	height: 400px !important;
	border-bottom:1px solid #ccc;
	border-radius:2px;
}


/* main */
.main-content{
	margin-top:100px;
	margin-bottom:100px;
	min-height:415px;
}
.main-content .box{
	margin-left: auto;
	margin-right: auto;
	min-height:250px;
	background-color:#ffffff;
	border-radius:5px;
}


/*personal*/
#personal-intro{
	background-image:url(../img/personal-carousel/personal-intro-bg.png);
	height:350px;
}
.personal-intro-content{
	margin-top:40px;
	margin-left:60px;
}
#personal-intro h3{
	-webkit-box-reflect:below -3px -webkit-gradient(linear, 0 0, 0 100%, 
		from(transparent), color-stop(.5, transparent), to(white));
	margin-bottom:35px;
}
#personal-intro p{
	line-height:25px;
}
#personal-carousel{
	background-image:url(../img/personal-carousel/personal-carousel-bg.png);
	height:350px;
}
/*.personal-carousel-girl{
	background-image:url(../img/personal-carousel/bg.png);
	background-size:100% 100%;
	margin-right:0px;
	width:80px;
	height:80px;
	position:relative;
	top:-100px;
	right:50px;
}*/
.personal-img{
	margin-top:15px;
	/*border-radius:5px;*/
	height:320px !important;
	width:385px !important;
	/*background:white;*/
	border:1px solid #343434;
}
.personal-carousel-desc{
	margin-top: 10px !important;
	margin-left: -30px !important;
	width: 175px;
	height:249px;
	/*border:2px solid #ccc;*/
}
.personal-carousel-desc h4{
	color:#9a59b5;
	text-align: center;
}
.personal-carousel-desc p{
	line-height:25px;
}


/*camera*/
#camera{
	margin-top:100px;
	height:450px;
}
.camera-theme-pic{
	background-image:url(../img/camera/theme.png);
	background-size:100% 100%;
	/*margin-right:0px;*/
	width:570px;
	height:448px;
	border-radius:5px;
}
#camera h1{
	-webkit-box-reflect:below -7px -webkit-gradient(linear, 0 0, 0 100%, 
		from(transparent), color-stop(.5, transparent), to(white));
}
#camera p{
	margin-top:30px;
	line-height:38px;
}
.camera-font{
	margin-top:50px;
}



/*animation*/
#animation{
	height:450px;
	margin-top:100px;
}


/*painting*/
#painting{
	height:450px;
	margin-top:100px;
}


/*github*/
#github{
	height:450px;
	margin-top:100px;
}


/* footer */
.footer{
	background-color:#101010;
	height: 60px;
}


/** comment page **/
#disqus_thread{
	margin-top:30px;
	margin-bottom:30px;
	margin-left: 25px;
	margin-right: 25px;
	min-height:350px;
	border-radius: 5px;
}
/* back to top */
.back-to-top{
	position:fixed;
	bottom:20px;
	right:10px;
	z-index:1;
	/*background:rgba(0,0,0,0.5) !important;*/
	/*color:#463265;*/
}
.back-to-top a{
	color:#463265;
	/*background:rgba(255,255,255,0.5) !important;*/
	border-radius: 35px;
	text-decoration:none;
}
.back-to-top .back-icon{
	font-size:50px;
}
.back-to-top :hover{
	color:#8d44ad;
}