
<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<title>website of wjh</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- bootstrap core css -->
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-responsive.css" rel="stylesheet">
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
		<![endif]-->
		<style type="text/css">
		</style>
	</head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner" role="navigation">
				<div class="container">
					<a class="brand" href="javascript:;">wjh的个人网站</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="active"><a href="javascript:;">首頁</a></li>
							<li><a href="javascript:;">日志</a></li>
							<li><a href="javascript:;">动漫</a></li>
							<li class="dropdown">
								<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">相册<b class="caret new"></b></a>
								<ul class="dropdown-menu">
									<li><a href="javascript:;">照片</a></li>
									<li><a href="javascript:;">图片</a></li>
									<li><a href="javascript:;">手绘</a></li>
								</ul>
							</li>
						</ul>
					</div><!--/.nav-collapse -->
				</div><!--/.container -->
			</div><!--/.navbar-inner -->
		</div><!-- top navbar -->

		<div class="container">
		</div>

		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="js/jquery-1.10.2.min.js"></script>
		<script src="js/bootstrap.js"></script>

	</body>
</html>
